#canvas_field {
  border: 1px groove lightgrey;
}

.canvas_field {
  border: 1px groove lightgrey;
}

.canvas_data_field {
  display: none;
}

.canvas_legend_sub {
  height: 30px;
  font-weight: 600;
  padding-top: 9px;
  text-align: center;
}

tr.active {
  -webkit-box-shadow: 0px 0px 25px -2px #967474 inset;
  -moz-box-shadow: 0px 0px 25px -2px #967474 inset;
  box-shadow: 0px 0px 25px -2px #967474 inset;
}
